html,
body {
    width: 100%;
    height: 100%;
}

body {
    // background-image: radial-gradient(circle, $red 0%, $black 40%);
    background-color: $black;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hidden {
    display: none !important;
}

header {
    padding: 10px;
    height: $heightHeader;
    position: sticky;
    top: 0;
    box-shadow: 0 0 20px 8px $red;
    background: linear-gradient(180deg, darken($red, 10%) 0%, $red 50%, darken($red, 5%) 100%);
    @include center;

    img {
        width: 50px;
        height: 50px;
    }

    .logo {
        font-weight: 600;
        font-family: 'Peppins', sans-serif;
        font-size: 30px;
        color: $white;
        padding-left: 20px;
    }
}

.container {
    @include center(center);
    min-height: calc(100vh - #{$heightHeader} - #{$heightFooter});
    height: auto;

    .playerContainer {
        box-shadow: 0 0 15px 0 $red;
        background-color: $black;
        border-radius: 40px;
        width: 50%;
        min-width: 400px;
        margin-top: 50px;
        position: relative;

        .titleWrapper {
            @include center(center);
            color: $white;
            background-color: #0006;
            padding: 20px;
            font-size: 1.5rem;
            width: 100%;
            height: 70px;
            border-radius: 40px 40px 0 0;
            position: absolute;
            z-index: 1;

            .title {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

        .playerWrapper {
            @include center(center);
        }

        .thumbWrapper {
            @include center(center);
            width: 100%;
            overflow: hidden;
            height: 500px;
            border-radius: 40px 40px 0 0;
            background-color: black;

            .thumb {
                // width: 100%;
                // max-width: 480px;
                // height: 360px;
                object-fit: contain;
            }
        }
        .progressBarContainer {
            background-color: $white;
            width: 100%;
            padding: 2px;

            .progressBarWrapper {
                height: 10px;
                overflow: hidden;
                @include center();
                cursor: pointer;

                .progressBar {
                    height: 100%;
                    width: 0;
                    background-color: $red;
                    transition: width 0.1s linear;
                }
            }
        }
        .controls {
            @include center(space-around);
            padding: 15px;

            .controlButton {
                @include circle(50);
                cursor: pointer;

                &.active {
                    background-color: $red;
                }
            }
        }
    }
}

footer {
    @include center(center);
    color: $white;
    height: $heightFooter;
    font-size: 16px;

    a {
        outline: none;
        text-decoration: none;
        padding: 0 3px;
        transition: all 0.3s;

        &:visited,
        &:link {
            color: $white;
        }

        &:focus,
        &:hover,
        &:active {
            color: $red;
            border-top: 1px solid $red;
            border-bottom: 1px solid $red;
            background-color: rgba($white, 0.1);
        }
    }
}
